﻿<div class="modal fade" id="modal-group" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-plus-square"></i> Add Category </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body" id="addKPI">
                        <div class="form-group" style="display:none">
                            <label for="Name">ID </label>

                            <input type="text" class="form-control ID" id="ID" placeholder="ID" disabled>

                        </div>
                        <div class="form-group">
                            <div class="parent-search">
                                <label for="Name">Name <span style="color:red"> (*)</span> </label>
                                <input type="text" class="form-control Name search" autocomplete="off" id="search" placeholder="Enter Name">
                                <div class="search-box">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Code">Code <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control Code" id="Code" placeholder="Enter Code">
                        </div>
                        <div class="form-group">
                            <label for="Code">Level <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control LevelID" id="LevelID" placeholder="Enter Level">
                        </div>
                        <div class="form-group">
                            <small style="color:red;font-weight:bold;text-align:center;display:block">(*) Require fields not to be blank.</small>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button id="btnAdd" class="btn btn-primary">@KPI.Web.Lang.LangIndex.Save_Label</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@KPI.Web.Lang.LangIndex.Close_Label</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* update *@
<div class="modal fade" id="modal-group2" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-minus-square-o"></i> Update Category </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body" id="updateKpi">
                        <div class="form-group" style="display:none">
                            <label for="Name">ID </label>
                            <input type="text" class="form-control ID" id="ID" placeholder="ID" disabled>
                        </div>
                        <div class="form-group">
                            <label for="Name">Name </label>
                            <input type="text" class="form-control Name" autocomplete="off"id="Name" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="Code">Code </label>
                            <input type="text" class="form-control Code" id="Code" placeholder="Enter Code">
                        </div>
                        <div class="form-group">
                            <label for="Level">Level </label>
                            <input type="text" class="form-control LevelID" id="LevelID" placeholder="Enter Level">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">

                        <button type="button" class="btn btn-primary" id="btnSaveUpdateModal"> @KPI.Web.Lang.LangIndex.Save_Label</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@KPI.Web.Lang.LangIndex.Close_Label</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* weekly madal *@
<div class="modal fade" id="modal-group-weekly" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Weekly </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="weekly">Day of the week </label>
                            <select class="form-control weekly" data-id="" id="weekly">
                                <option value="">Choose day of the week</option>
                                <option value="MON">Monday</option>
                                <option value="TUE">Tuesday</option>
                                <option value="WED">Wednesday</option>
                                <option value="THU">Thursday</option>
                                <option value="FRI">Friday</option>
                                <option value="SAT">Saturday</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary btnsaveweekly" id="btnsaveweekly">Save</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* monthly modal *@
<div class="modal fade" id="modal-group-monthly" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Monthly</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class='form-group'>
                        <label for="monthly">Monthly</label>
                        <div class='input-group date monthly'>
                            <input type='text' data-id="" class="form-control date monthly" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <a href="#" class="btn btn-primary" id="btnsavemonthlymodal">Save</a>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* Quaterly Modal *@
<div class="modal fade" id="modal-group-quaterly" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Quaterly </h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class='form-group'>
                        <label for="quaterly">Quaterly</label>
                        <div class='input-group date quaterly'>
                            <input type='text' data-id="" class="form-control date quaterly" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">

                    <a href="#" class="btn btn-primary" id="btnsavequaterlymodal">Save</a>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* Yearly Modal *@
<div class="modal fade" id="modal-group-yearly" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Yearly</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class='form-group'>
                        <label for="yearly">Yearly</label>
                        <div class='input-group date yearly'>
                            <input type='text' data-id="" class="form-control date yearly" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">

                    <button type="button" class="btn btn-primary" id="btnsaveyearly">Save</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* get kpi code *@
<div class="modal fade" id="modal-group3" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Get KPI Code </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body" id="updateKpi">
                        <div class="form-group">
                            <label for="Name">Get KPI Code </label>
                            <input type="text" class="form-control ID" id="ID" placeholder="Get KPI Code">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                        @*<button type="button" class="btn btn-primary" onclick="Update();">Update</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
