﻿<div class="modal fade" id="modal-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Compare KPILevel </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body" id="comparechart">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:3%">#</th>
                                    <th class="text-center" style="width:5%">Checkbox</th>
                                    <th class="text-center">Level Number</th>
                                    <th class="text-center">Area</th>
                                    <th class="text-center">Data Status </th>
                                    <th class="text-center">Publicity Status</th>
                                </tr>
                            </thead>
                            <tbody id="tblcomparechart">
                                <tr>
                                    <td>
                                        <div class="pretty p-image p-plain">
                                            <input type="checkbox" />
                                            <div class="state">
                                                <img class="image" src="/Content/icon/004.png">
                                                <label></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="label label-success">Approved</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <script id='tblcomparechart-template' type="text/template">
                            <tr {{{Tooltip}}}>
                                <td class="text-center">{{No}}</td>
                                <td class="text-center">
                                    <div class="pretty p-image p-plain">
                                        <input type="checkbox" value="{{KPILevelCode}}" {{StatusPublicAttr}} class="compare" />
                                        <div class="state">
                                            <img class="image" src="/Content/icon/004.png">
                                            <label class="comparelabel"></label>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">{{LevelNumber}}</td>
                                <td class="text-center">{{Area}}</td>
                                <td class="text-center">{{{Status}}}</td>
                                <td class="text-center">{{{StatusPublic}}}</td>
                            </tr>

                        </script>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <ul id="pagination" class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>

                    </div>
                    <div class="box-footer">
                        <span style="display:none" class="arrcompare"></span>
                        <button id="btnCompare-kpilevel" data-compare="" class="btn btn-primary">Compare</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal" id="modal-group-comment-data">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00a65a;color:#fff">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title "><i class="fa fa-tags"></i>&#32;<span class="RemarkChart"></span></h4>
            </div>
            <div class="modal-body box-scrollbar my-modal-content-x">

                <div class="row bootstrap snippets">
                    <div class="col-md-12 col-sm-12">
                        <div class="comment-wrapper">
                            <div class="panel panel-info">
                                @*<div class="panel-heading">
                                        Comment panel
                                    </div>*@
                                <div class="panel-body">
                                    <span class="dataid" style="display:none"></span>
                                    <span class="kpilevelcode" style="display:none"></span>

                                    <div class="form-group">
                                        <textarea class="form-control" id="comment" placeholder="write a comment..." rows="6"></textarea>
                                        @*<div class="form-control" contenteditable="true" id="comment" ></div>*@
                                    </div>

                                    <button type="button" class="btn btn-info pull-right btnComment"><i class="fa fa-send-o"></i> Post</button>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <ul class="media-list" id="media-list">
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade modal-window modal" id="modal-group-comment-data2">
    <div class="modal-dialog modal-lg" style="width:95%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00a65a;color:#fff;display:block">
                <span class="commentid" style="display:none"></span>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title ">
                    <a href="#modal-group-comment-data" data-toggle="modal" data-dismiss="modal" style="color:#fff;cursor:pointer"> <i class="fa fa-reply"></i></a>
                    &#32;
                    <span class="ActionPlanChart"></span>
                </h4>
            </div>
            <div class="modal-body box-scrollbar my-modal-content-x">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile">Add</a>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home">
                        <div class="card">
                            <div class="card-header mt-2">
                                <div class="input-group">
                                    <span class="input-group-addon" style="cursor:pointer"><i class="fa fa-search"></i> Search</span>

                                    <input type="text" class="form-control searchActionPlan">
                                    <span class="input-group-addon clearSearchActionPlan" style="cursor:pointer"><i class="fa fa-close"></i> Clear Search</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="listTask">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">No.</th>
                                                <th>Task name</th>
                                                <th>Descriptions</th>
                                                <th>PIC</th>
                                                <th>Due date</th>
                                                <th>Update shedule date</th>
                                                <th>Actual finish date</th>
                                                <th>Remark</th>
                                                <th>Status</th>
                                                <th class="Approval" style="width: 100px">Approve</th>
                                                <th class="Option" style="width: 50px">Option</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tblActionPlan">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-body mt-2">
                            <ul id="paginationActionPlan" class="pagination pagination-sm no-margin">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile">
                        <div class="addTask">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Task name<b class="text-danger"> (*) </b></label>
                                <input type="text" class="form-control Title" autocomplete="off" placeholder="">
                                <input type="text" class="form-control ID hidden" placeholder="">
                            </div>

                            <!-- textarea -->
                            <div class="form-group">
                                <label>Description<b class="text-danger"> (*) </b></label>
                                <textarea type="text" class="form-control Description" rows="3" placeholder=""></textarea>

                                @*<div class="editable Description" style="border:1px solid #d2d6de" contenteditable="true">
                                        <ul style="list-style: decimal;padding-left: 20px;">
                                            <li></li>
                                        </ul>
                                    </div>*@

                                @*<div class="listTag" ></div>
                                    <input type="text" name="name" class="form-control" id="listTag" value="" />*@
                            </div>
                            <!-- input states -->
                            <div class="form-group" tooltip-position="top" data-c-tooltip='Enter a character "@@" inside the textarea and you will see the dropdown list populated with suggestions.'>
                                <label class="control-label" for="Tag">Assign PIC<b class="text-danger"> (*) </b></label>
                                <textarea type="text" class="form-control Tag" id="Tag" rows="1" placeholder=""></textarea>
                                @*<span class="help-block">Notification to user</span>*@
                            </div>
                            <div class="form-group" tooltip-position="top" data-c-tooltip='Enter a character "@@" inside the textarea and you will see the dropdown list populated with suggestions.'>
                                <label class="control-label" for="Auditor">Auditor<b class="text-danger"> (*) </b></label>
                                <textarea type="text" class="form-control Auditor" id="Auditor" rows="1" placeholder=""></textarea>
                                @*<span class="help-block">Notification to user</span>*@
                            </div>
                            <!-- radio -->
                            <div class="form-group">
                                <label>Due date<b class="text-danger"> (*) </b></label>
                                <input autocomplete="off" type="text" class="form-control DueDate datepicker" name="datepicker" />
                            </div>
                            <button type="button" class="btn btn-success btnSaveActionPlan"> Save</button>
                            <div class="form-group">
                                <b class="text-danger">(*) Require fields not to be blank. </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#modal-group-comment-data" data-toggle="modal" data-dismiss="modal" class="btn btn-primary backToRemark">Back to remark</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

