﻿<div class="modal fade" id="modal-group" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-plus-square"></i> Add KPI </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body" id="addKPI">
                        <div class="form-group" style="display:none">
                            <label for="Name">ID </label>

                            <input type="text" class="form-control ID" placeholder="ID" disabled>

                        </div>
                        <div class="form-group">
                            <label for="NameTW">Chinese Name <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control NameTW" autocomplete="off" id="NameTW" placeholder="Enter Name">
                        </div>

                        <div class="form-group">
                            <label for="NameEn">English Name <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control NameEn" autocomplete="off" id="NameEn" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="NameVI">Vietnamese Name <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control NameVI" autocomplete="off" id="NameVI" placeholder="Enter Name">
                        </div>
                        @*<div class="form-group">
                            <label for="NameID">Indonesia Name <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control NameID" autocomplete="off" id="NameID" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="NameMM">Myanmar Name <span style="color:red"> (*)</span> </label>
                            <input type="text" class="form-control NameMM" autocomplete="off" id="NameMM" placeholder="Enter Name">
                        </div>*@
                        <div class="form-group">
                            <label for="Unit">Unit <span style="color:red"> (*)</span></label>
                            <select id="Unit" class="form-control Unit"></select>
                        </div>
                        <div class="form-group">
                            <small style="color:red;font-weight:bold;text-align:center;display:block">(*) Require fields not to be blank.</small>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button id="btnAdd" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* update *@
<div class="modal fade" id="modal-group2" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-minus-square-o"></i> Update KPI </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="box-body" id="updateKpi">
                        <div class="form-group" style="display:none">
                            <label for="Name">ID </label>
                            <input type="text" class="form-control ID" id="ID" placeholder="ID" disabled>
                        </div>
                        <div class="form-group">
                            <label for="NameTW">Chinese Name </label>
                            <input type="text" class="form-control NameTW" autocomplete="off" id="NameTW" placeholder="Enter Name">
                        </div>

                        <div class="form-group">
                            <label for="NameEn">English Name </label>
                            <input type="text" class="form-control NameEn" autocomplete="off" id="NameEn" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="NameVI">Vietnamese Name </label>
                            <input type="text" class="form-control NameVI" autocomplete="off" id="NameVI" placeholder="Enter Name">
                        </div>
                        @*<div class="form-group">
                            <label for="NameID">Indonesia Name </label>
                            <input type="text" class="form-control NameID" autocomplete="off" id="NameID" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="NameMM">Myanmar Name </label>
                            <input type="text" class="form-control NameMM" autocomplete="off" id="NameMM" placeholder="Enter Name">
                        </div>*@

                        <div class="form-group">
                            <label for="Unit">Unit </label>
                            <select id="Unit" class="form-control Unit"></select>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">

                        <button type="button" class="btn btn-primary" id="btnSaveUpdateModal">Save</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
