﻿@using KPI.Model.helpers
@using KPI.Model.ViewModel
@{
    var userProfile = Session["UserProfile"] as UserProfileVM;

}
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home",null)" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>KPI System</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>KPI System</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <!--Biểu tượng chuyển ngôn ngữ trên trang-->
                <li>
                    <div class="henry-pham">
                        <ul>
                            <li title="Tiếng Việt">
                                <a href="~/Home/ChangeLanguage?Langby=vi">
                                    <img alt="vi" src="~/Content/images/vn.png" />
                                </a>
                            </li>
                            <li title="中文">
                                <a href="~/Home/ChangeLanguage?Langby=zh-TW">
                                    <img alt="tw" src="~/Content/images/tw.png" />
                                </a>
                            </li>

                            <li title="English">
                                <a href="~/Home/ChangeLanguage?Langby=en">
                                    <img alt="us" src="~/Content/images/us.png" />
                                </a>
                            </li>
                            @*<li title="中文">
                                <a href="~/Home/ChangeLanguage?Langby=id">
                                    <img alt="tw" src="~/Content/images/Indonesia.jpg" />
                                </a>
                            </li>

                            <li title="English">
                                <a href="~/Home/ChangeLanguage?Langby=mm">
                                    <img alt="us" src="~/Content/images/Myanmar.jpg" />
                                </a>
                            </li>*@
                        </ul>
                    </div>
                </li>
                <!--/Biểu tượng chuyển ngôn ngữ trên trang-->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        @*<span class="label label-warning count">0</span>*@
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 0 notifications</li>
                        <li>

                            <ul class="menu" id="NotificationMenu">
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>

                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @*<img src="/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                        @if (@userProfile != null)
                        {
                            if (@userProfile.User.Username.ToSafetyString() != null)
                            {
                                <span id="user" data-userid="@userProfile.User.ID.ToSafetyString()">
                                    @userProfile.User.Alias.ToSafetyString().ToTitleCase()
                                </span>
                            }
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-body">
                            <a style="cursor:pointer" data-toggle="modal" data-target="#modal-group-change-password">
                                <i class="fa fa-moon-o"></i>  Change password
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href='@Url.Action("Logout","Login")'>
                        <span class="hidden-xs"><i class="fa fa-sign-out"></i> Sign-out</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
